.project__card {
  width: 100%;
  margin-bottom: 5%;
}

.project__card_small {
  margin-bottom: 3%;
  margin-right: 3%;
  cursor: crosshair;
}

.project__card_small:hover .project-info__title {
  color: var(--highlight-color);
}

.project-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-content_small {
  display: flex;
  flex-direction: row;
  padding: 15px;
  width: 100%;
  align-items: center;
  overflow: overlay;
}

.project__icon {
  width: 70px;
  margin-right: 10px;
}

.project-info__title {
  font-size: 3rem;
  line-height: 2.5rem;
  font-weight: 700;
  transition: var(--transition-all);
}

.project-info__title_small {
  font-size: 1em;
  line-height: 1em;
  font-weight: 700;
  transition: var(--transition-all);
}

.project-info__status {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 400;
}

.project-info__status_small {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 400;
}

.project-content__header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 3%;
}

.project-content_body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.project__picture {
  width: 70%;
}

.project__info {
  display: flex;
  flex-direction: column;
}

.project__info_small {
  flex-basis: 100%;
  align-items: flex-start;
}

.need-list {
  font-size: 1.5rem;
  line-height: 1rem;
  font-weight: 600;
  color: var(--highlight-color);
  margin-bottom: 3%;
}

.need-list__roles {
  font-size: 1.4rem;
  font-weight: 800;
  margin-bottom: 30px;
  color: var(--highlight-color);
}

.devs__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 3%;
}

.skills_project {
  margin-top: 3%;
}

.projects__title,
.description__title,
.devs__title,
.need-list__title {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 700;
  width: max-content;
}

.projects__list {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  gap: 1%;
}

.project__card_small:hover {
  transform: translateY(-2px);
  box-shadow: 9px 10px #000;
}
