.side-menu {
  position: fixed;
  width: 63px;
  top: 0;
  height: 100vh;
  z-index: 100;
  background-color: #000;
}

.links__list {
  background-color: var(--background-color-darken);
  position: absolute;
  height: 71px;
  width: 210px;
  top: -4px;
  left: 55px;
  display: none;
  flex-direction: column;
  border-bottom: 4px solid #000;
}

.menu__link {
  border: 4px solid #000;
  border-bottom: none;
  display: block;
  padding: 15px;
  background-color: var(--background-color-dark);
  transition: var(--transition-all);
}

.menu__link a {
  color: var(--background-color-lighter);
}

.menu__icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  color: white;
  height: 100vh;
  width: 63px;
  border: 4px solid #000;
}

.menu-icon.icon_last {
  width: 100%;
  height: 100%;
  margin-bottom: 0;
}

.menu-icon {
  line-height: 0;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  background-color: var(--background-color-dark);
  transition: var(--transition-all);
  margin-bottom: 4px;
}

.menu-icon:hover,
.menu__link:hover {
  background-color: #757575;
}

.link-icon {
  width: 100%;
}

.menu-icon img {
  display: block;
  padding: 15px;
  text-decoration: none;
  filter: invert(68%) sepia(0%) saturate(2%) hue-rotate(111deg) brightness(94%)
    contrast(87%);
}

.icon_project:hover .links_project {
  display: flex;
}
.icon_messages:hover .links_messages {
  display: flex;
}
.icon_settings:hover .links_settings {
  display: flex;
}
.icon_search:hover .links_search {
  display: flex;
}
