.apply-btn {
  max-width: 430px;
  font-size: 2rem;
  margin-top: 10%;
  padding: 15px;
  box-shadow: 8px 5px 0 0 #000;
}

.apply-btn:hover {
  transform: translateY(-5px);
  box-shadow: 10px 11px #000;
}

.btn_follow {
  padding: 3px 10px;
  white-space: nowrap;
  width: 100%;
  font-size: 0.8em;
}
