.edit-icon {
  width: 25px;
  height: 25px;
  transition: var(--transition-all);
  cursor: pointer;
}

.settings-btn {
  background-color: rgba(0, 0, 0, 0);
  margin-right: 8px;
  border: none;
}

.edit-icon:hover {
  transform: translatex(14%);
}

.settings-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.settings_profile-icon {
  position: absolute;
  bottom: 0;
  left: -30px;
}

.settings__buttons {
  display: flex;
  justify-content: space-evenly;
}

.settings_btn {
  flex-basis: 45%;
  box-shadow: 3px 3px #000;
}

.settings_btn:hover {
  box-shadow: 4px 5px #000;
  transform: translateY(-3px);
}

.text-input {
  padding: 5px;
  font-size: 1rem;
  margin-bottom: 5px;
}

.textarea-input {
  width: 100%;
  height: 180px;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 5px;
}
