.welcome-page {
  padding-top: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: default;
  text-align: center;
}

.container_welcome-page {
  padding-left: 0;
  min-height: calc(100vh - 100px);
}

.highlight-letter {
  color: var(--highlight-color);
}

.welcome-page__title {
  font-weight: 900;
  font-size: 9rem;
  line-height: 7rem;
  text-align: center;
}

.welcome-page__text {
  font-size: 5rem;
  line-height: 4rem;
}

.btn_get-started {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  margin-top: 50px;
  padding: 15px 30px;

  box-shadow: 10px 10px #000;
}

.btn_get-started:hover {
  transform: translateY(-5px);
  box-shadow: 12px 14px #000;
}
