.logo {
  display: flex;
  line-height: 0;
  text-decoration: none;
  font-size: 3.1rem;
  font-weight: 900;
  color: #000;
  margin-top: 12px;

  transition: var(--transition-all);
}

.logo-L {
  display: block;
  margin-right: 1px;
}

.logo-D {
  display: block;
  font-size: 20px;
  margin-top: -10px;
}

.logo:hover {
  color: var(--highlight-color);
}
