.requests {
  display: flex;
}

.request__item {
  width: 175px;
  display: flex;
  flex-direction: column;
  margin-right: 3%;
}

.request__info {
  width: 98%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.info__title {
  margin: 3% 0;
}

.info__buttons {
  display: flex;
  flex-direction: column;
}
