.input-block {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.text-input {
  padding: 5px;
  font-size: 1rem;
  white-space: normal;
}

.input_complex {
  width: 70%;
}

.text-label {
  font-size: 0.8rem;
  padding: 2px;
  letter-spacing: 1px;
  line-height: 0.1;
  margin-bottom: -3px;
  z-index: 10;
  margin-left: 5px;
  background-color: #fff;
  width: fit-content;
  color: var(--background-color-dark);
}

.textarea-input {
  width: 100%;
  height: 180px;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 5px;
  resize: none;
}

.input_btn {
  display: flex;
  width: 30%;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.input__item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
}
