.footer-wrapper {
  height: fit-content;
  border-top: 4px solid #000;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 12px 0 12px 63px;
  font-size: 1.3rem;
  margin-top: 50px;
}
