body {
  height: 100%;
  font-family: "Baloo Thambi 2", sans-serif;
  color: #000;
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
  background-color: var(--background-color-lighter);
}

* {
  font-family: inherit;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root {
  --highlight-color: rgb(161, 58, 58);
  --background-color: #cccccc;
  --background-color-darken: #a0a0a0;
  --background-color-dark: rgb(65, 65, 65);
  --background-color-lighter: #eeeeee;
  --border-color: #9f9f9f;
  --transition-all: all 200ms ease-in-out, color 150ms ease;
}

.container {
  padding-top: 50px;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  min-height: calc(100vh - 100px);
}

.btn {
  font-family: inherit;
  font-size: 20px;
  padding: 2px 50px;
  border: 3px solid #000;
  border-radius: 4px;
  background-color: var(--background-color);

  color: #000;
  font-weight: 900;
  text-align: center;
  cursor: pointer;

  transition: var(--transition-all);
}

.btn:hover {
  background-color: var(--highlight-color);
  color: #fff;
}

.btn:hover .arrow-icon svg path {
  stroke: #fff;
}
